@{
    ViewBag.Title = "Call as application";
}

<div class="row">
    <div class="col-md-12">
        <h2>Calling from backend as application</h2>
        <p>Response:</p>
        <pre>
            @ViewBag.SecureData
        </pre>
    </div>
</div>