<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <add key="ida:ClientId" value="https://secure-webapi.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ida:ClientSecret" value="Byn7NYgH9NdQVP237jW3r4Tytv0DWz0y1RbwmQHO" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ida:Audience" value="https://secure-webapi.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ida:Resource" value="https://other-secure-webapi.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
